{% extends 'base.html' %}

{% block content %}
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Form</title>
</head>
<body>
    <p>
        {% if breed %}

            The breed you entered is {{breed}}
            Now you can input the new breed value.

        {% else %}

        Please enter your breed in the from below...

        {% endif %}
    </p>
    <form action="post">
        {{ form.hidden_tag() }}
        {{ form.breed.label }} {{ form.breed() }}
        {{ form.submit() }}
    </form>
</body>
</html>

{% endblock content %}
