<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Flask Web Development</h1>
    <h1>This is an image of a tree...</h1>
    <h2>My name is {{name}}</h2>
    <h3>list1 is {{list1[1:6]}}</h3>
    <h3>dict1 is {{dict1['YouTube']}}</h3>
    <img src="../static/img/img1.png" alt="img" style="width: 600; height: 400;">
</body>
</html>